.containerStyles{

    width: "580px";
    height: "250px";
    margin: "0 auto";
    background-color: black;
}
.slideStyle{
    width: "100%";
    height: "100%";
    background-position: "center";
    background-size: cover;

}
.sliderStyles{
    height: 100%;
    position: relative;
}